.Header {
  min-height: 100px;
  display: flex;
  align-items: center;
}

.userInfo {
  display: grid;
  gap: 6px 12px;
  grid-template-columns: auto auto;
  justify-content: flex-end;

  color: var(--color-dark-gray);

  margin-left: auto;
}

.userMail {
  font-size: 24px;
  font-weight: 700;
  justify-self: end;
}

.button {
  justify-self: start;
  align-self: flex-start;
}

.buttonLink {
  font-weight: 700;
  margin-left: auto;
}

.avatar {
  grid-area: 1 / 2 / 3 / -1;

  width: 64px;
  height: 64px;
  border-radius: 50%;

  font-size: 36px;
  font-weight: 700;

  vertical-align: middle;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--color-purple);
}

.icon {
  width: 80%;
  fill: var(--color-pink);
}