.UserItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start ;
  gap: 4px;
  padding: 8px 16px;

  border-radius: 8px;

  color: var(--color-purple-dark);
}

.email {
  font-size: 18px;
  font-weight: 700;
}

.activateInfo {
  align-self: flex-start;
  padding: 2px 8px;
  border-radius: 8px;
  background-color: var(--color-green-light);
  font-size: 14px;
}

.activateInfo_notActivated {
  background-color: var(--color-red-light);
  color: var(--color-yellow);
}
